.DS_Store

node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn-integrity
.npm

.eslintcache

*.tsbuildinfo
next-env.d.ts

.next
.vercel
certificates
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/next-auth-example.iml
/.idea/php.xml
/.idea/vcs.xml
/idp-private-key.pem
/idp-public-cert.pem
/.idea/boxyhq-saml.iml
